body{
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: #00d392;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: #00ffa2;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height : 100vh;
    padding-bottom: 1vh;
}

@media screen and (max-width:800px){
    .web__logo{
        left:30px;
        top:30px;
    }
}

.main__frame{
    width: 100vw;
    min-height: 99vh;
    background-image: url('/assets/imgs/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    overflow: auto;
}
body::-webkit-scrollbar{
    display: none;
}
.main__frame>.main__about_article{
    display: flex;
    flex-direction: column;
    height: 58%;
    color: #ffffff;
    line-height: 1.4em;
    font-size: 15px;
}
.main__about_article>div{
    margin-bottom: 17px;
}
.main__about_article>div:last-child{
    padding-bottom: 120px;
}

.main__about_article .art_kor{
    font-family: 'Nanum Gothic', sans-serif;
}

.long__stamp{
    position: absolute;
    height: 55vh;
    left: 50px;
}
.close__icon{
    display: none;
}

@media screen and (max-width:800px){
    body{
        width: 100vw;
        min-height : 100vh;
        height: fit-content;
        padding-bottom: 1vh;
        overflow: auto;
    }
    .bottom__right .bottom__ani_logo{
        display :none;
    }
    .bottom__left{
        display: none;
    }
    .main__frame .main__left_btn{
        display: none;
    }
    .main__frame .main__right_btn{
        display: none;
    }
    .main__frame{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding: none;
    }
    .mobile__logo{
        display: flex;
    }
    .mobile__menu{
        display: flex;
    }
    .close__icon{
        display: flex;
        position: absolute;
        top : 25px;
        right: 23px;
        width: 39px;
    }
    .mobile__menu_page{
        display: flex;
    }
    .long__stamp{
        display: none;
    }
}