body>.mainwarapper{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: $primary-color;
    justify-content: center;
    align-items: center;
}