.web__logo{
    position: absolute;
    top: 35px;
    left: 35px;
    display: flex;
    width: 84px;
    z-index: 3;
}
.web__button_bar{
    position: absolute;
    display: flex;
    top: 40px;
    right: 35px;
    color: $second-color;
    font-size: 10px;
    justify-content: space-between;
    width : 136px;
    z-index: 3;
}
.web__button_bar>.selected{
    color: $primary-color;
}

@media screen and (max-width:800px){
    .web__button_bar{
        display: none;
    }
}