.web_bottom_co{
    position: absolute;
    bottom: 60px;
    left : 35px;
    font-size: 10px;
    align-items: flex-end;
    letter-spacing: 1px;
    line-height: 1.5em;
    word-spacing: 2px;
}

@media screen and (max-width:800px){
    .web_bottom_co{
        display: none;
    }
}