@import "common.css";

body{
    width: 100vw;
    height : 100vh;
    padding-bottom: 1vh;
}

@media screen and (max-width:900px){
    .web__logo{
        display: none;
    }
    .bottom__right{
        display: none;
    }
}

/* 전체화면 버튼 */ video::-webkit-media-controls-fullscreen-button { display: none !important; }
    /* 일시정지, 재생 버튼 */ video::-webkit-media-controls-play-button { display: none !important; } 
    /* 재생 슬라이드..? */ video::-webkit-media-controls-timeline {display: none} 
    /* 현재 진행 시간 */ video::-webkit-media-controls-current-time-display{display: none} 
    /* 전체 시간 */ video::-webkit-media-controls-time-remaining-display {display: none} 
    /* 음소거 버튼 */ video::-webkit-media-controls-mute-button {display: none} 
    /* 볼륨 조절 슬라이드 */ video::-webkit-media-controls-volume-slider {display: none}
    /* 다운로드 버튼 */

    video::-webkit-media-controls-enclosure {
        overflow:hidden;
    }
    /* 괄호에 display: none !important; 를 추가하면된다. 예 ) 전체화면 전환 버튼을 숨긴다. 다만 더블클릭으로 전체화면이 되는 기능등은 그대로고 단지 버튼만 없앤다. */ 
    /* video::-webkit-media-controls-fullscreen-button { display: none !important; } */

    ::-webkit-media-controls {
        display:none !important;
    }
    video::-webkit-media-controls {
        display:none !important;
    }
    video::-webkit-media-controls-enclosure {
        display:none !important;
    }
    video::-webkit-media-controls-fullscreen-button {
        display:none !important;
    }
     
    *::-webkit-media-controls-panel {
        display: none!important;
        -webkit-appearance: none;
    }
     
    *::--webkit-media-controls-play-button {
        display: none!important;
        -webkit-appearance: none;
    }
     
     
    *::-webkit-media-controls-start-playback-button {
        display: none!important;
        -webkit-appearance: none;
    }



/*************** item main content ***************/
.main__item_title{
    position: absolute;
    display: fixed;
    z-index: 4;
    width: 40vw;
    top: 45vh;
    left: 30vw;
}
.main__frame{
    width: 100vw;
    height: 99vh;
    background-image: url('/assets/imgs/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    padding-top: 20vh;
    overflow: auto;
    padding-bottom: 10%;
}
.main__frame::-webkit-scrollbar{
    display: none;
}
.main__frame .main__img_set{
    width: max-content;
    --height: 60vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0px;
    transition: left 0.3s ease-out;
}
.main__frame .main__img_set>img{
    margin:0px 60px;
}
.main__frame .main__img_set>img:nth-child(1){
    height: 90%;
    z-index: 8;
}
.main__frame .main__img_set>img:nth-child(2){
    height: 70%;
    z-index: 1;
}
.main__frame .main__img_set>img:nth-child(3){
    margin: 10vmax 60px 0px 60px;
    height: 50%;
    z-index: 1;
}
.main__frame .main__img_set>img:nth-child(4){
    margin: 0px 60px 5vmax 60px;
    height: 80%;
    z-index: 8;
}
.main__frame .main__img_set>img:nth-child(5){
    margin: 0px 60px 15vmax 60px;
    height: 50%;
    z-index: 1;
}
.main__frame .main__img_set>img:nth-child(6){
    margin: 5vmax 60px 0px 60px;
    height: 80%;
    z-index: 8;
}

.main__frame .main__img_set>#either-gif-or-video{
    position: relative;
    width: 95vh;
    height: 56.25vh;
    margin:0px 60px;
}
/* .main__frame .main__img_set>div>iframe{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 8;
} */

.main__frame .main__img_set>div>video{
    position: absolute;
    width: 100%;
    z-index: 8;
}
/************* item btn *************/
.close__icon{
    position: absolute;
    top : 120px;
    right: 70px;
    width: 39px;
    z-index: 8;
}
.shop__icon{
    position: absolute;
    width: 86px;
    top: 120px;
    z-index: 8;
}
.long__stamp{
    position: absolute;
    height: 55vh;
    left: 50px;
    z-index: 8;
}

@media screen and (max-width:900px){
    .bottom__right{
        display :none;
    }
    .bottom__left{
        display: none;
    }
    .main__frame .main__left_btn{
        display: none;
    }
    .main__frame .main__right_btn{
        display: none;
    }

    .mobile__logo{
        display: flex;
    }
    .mobile__menu{
        display: flex;
    }
    .close__icon{
        position: absolute;
        top : 25px;
        right: 23px;
        width: 39px;
    }
    .shop__icon{
        top: 35px;
    }
    .long__stamp{
        display: none;
    }
    .main__frame{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 100px;
    }
    .main__frame .main__img_set{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .main__frame .main__img_set>img:nth-child(1),
    .main__frame .main__img_set>img:nth-child(2),
    .main__frame .main__img_set>img:nth-child(3),
    .main__frame .main__img_set>img:nth-child(4),
    .main__frame .main__img_set>img:nth-child(5),
    .main__frame .main__img_set>img:nth-child(6){
        height: auto;
        width: 90vw;
        margin: 0px 0px 20px 0px;
    }
    .main__item_title{
        position: fixed;
        width: 76vw;
        top: 45vh;
        left: 12vw
    }
    .main__frame .main__img_set>#either-gif-or-video{
        width: 95vw;
        height: 53.4375vw;
        margin-bottom: 150px;
    }

    
    
}
