---
layout: page
---
<div class="main__frame">
    <img class="main__item_title" src="/oea/list/{{ page.title }}.png">
    <div class="main__img_set">
        <img src="/oea/detail/{{ page.title }}/{{ page.img01 }}">
        <img src="/oea/detail/{{ page.title }}/{{ page.img02 }}">
        <img src="/oea/detail/{{ page.title }}/{{ page.img03 }}">
        <img src="/oea/detail/{{ page.title }}/{{ page.img04 }}">
        <img src="/oea/detail/{{ page.title }}/{{ page.img05 }}">
        <img src="/oea/detail/{{ page.title }}/{{ page.img06 }}">
        <div id="either-gif-or-video">
            <!-- <iframe src="https://www.youtube.com/embed/yzrm9XEBiRk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <video controls autoplay loop muted controlsList="nodownload" preload="metadata" poster="/oea/detail/{{ page.title }}/{{ page.img06 }}">
                <source src="/oea/detail/{{ page.title }}/{{ page.video }}.webm" type="video/webm">
            
                <source src="/oea/detail/{{ page.title }}/{{ page.video }}.mp4" type="video/mp4">
            
                Sorry, your browser doesn't support embedded videos.
            </video>
        </div>
        <!-- <video  src="/oea/detail/{{ page.title }}/{{ page.video }}" width="400px" height="300"></video> -->
        {{ content }}
    </div>
</div>
